## Python Workshop: Day 1

### Literals and operations

Basic literals: string, integers, floating point numbers, boolean
Basic operations: addition, subtraction, multiplcation, division, power, modulus

In [ ]:
1+1

In [ ]:
3-2

In [ ]:
3*2.0

In [ ]:
3/2

In [ ]:
3**3

In [ ]:
4**.5

In [ ]:
'test'+"text"

### Variables

In [ ]:
int_var = 4
int_var

In [ ]:
type(int_var)

In [ ]:
float_var = 1.0
float_var

In [ ]:
type(float_var)

In [ ]:
string_var = "test text"
string_var

In [ ]:
type(string_var)

In [ ]:
boolean_var = True
boolean_var

In [ ]:
type(boolean_var)

In [ ]:
int_var + float_var

In [ ]:
# string_var + int_var
string_var + str(int_var) # type casting

In [ ]:
# string_var + f"{int_var}" # string formatting
f"{string_var} {int_var}"

### Interactive Python

In [ ]:
user = input("Enter your name: ")
print("Hello " + user)

### Data types

In [ ]:
list_var = [1, 2, 3]
type(list_var)

In [ ]:
set_var = {1, 2, 3}
type(set_var)

set_var.add(4)
print(set_var)

In [ ]:
list_var = [1, 2, 2, 3, 3]
set_var = set(list_var)
list_var = list(set_var)

print(list_var)

In [ ]:
list_var = [1, 2, 3, 4, 5]
list_var.append(6)
list_var

In [ ]:
list_var[1]

In [ ]:
list_var[-1]

In [ ]:
list_var[1:]

In [ ]:
list_var[:1]

In [ ]:
list_var[2:3]

In [ ]:
list_var[2:2]

In [ ]:
list_var[2:2] = ["text", "in", "between"]
list_var

In [ ]:
dict_var = {"a":1, "b":2}
type(dict_var)

In [ ]:
dict_var["c"] = 3
dict_var

In [ ]:
dict_var.get("c")

In [ ]:
x= {1: 1, 1:2}
x

In [ ]:
x= {1: 1, "1": 2}
x

In [ ]:
# x= {unknown_var: 5}
# x = {[1,2,3]: 5, [4,5,6]: 7}

In [ ]:
tuple_var = (2,3)
type(tuple_var)

In [ ]:
tuple2 = tuple_var + (4,)
tuple2

In [ ]:
tuple2[1]

In [ ]:
# tuple2[1] = 5

In [ ]:
x, y, z = tuple2
print(f"x={x}")
print(f"y={y}")
print(f"z={z}")

In [ ]:
x= {1: 1, 1:2}
x

In [ ]:
# access find_me string
search = [10, 2, 7, {'x': 4, 'y':'potato', 'z':([2,2],{1.01: 'not_me', 1.02: 'find_me', 1.03: 'not_me_either'}, 2)}, 3, 6]
search

**Quiz time !!!**

### Comparison and Logical operators

assignment operators: +=,-=,*=, /= ...
comparision operators: >,<,==,<=,>=
logical operators: and, or, not

In [ ]:
int_var = 5

int_var += 2

int_var

In [ ]:
int_var -= 2

In [ ]:
int_var == 5

In [ ]:
int_var > 5

In [ ]:
int_var <= 5

In [ ]:
int_var < 5

In [ ]:
"dog" == "cat"

In [ ]:
"dog" != "cat"

In [ ]:
"1" == 1

In [ ]:
true_var = True
false_var = False

In [ ]:
true_var or false_var

In [ ]:
true_var and false_var

In [ ]:
not true_var

###  Conditionals

if [condition 1]: <br>
  &nbsp; &nbsp; &nbsp; &nbsp; (block of code) <br>
elif [condition 2]: <br>
  &nbsp; &nbsp; &nbsp; &nbsp; (block of code) <br>
else: <br>
  &nbsp; &nbsp; &nbsp; &nbsp; (block of code)

In [ ]:
int_var = 2
if int_var < 5:
  print(f"{int_var} is smaller than 5")

In [ ]:
string_var = "saathi"

length_str = len(string_var)

if length_str == 5:
  print(f"length of '{string_var}' equals 5")
elif length_str > 5:
  print(f"length of '{string_var}' greater than 5")
else:
  print(f"length of '{string_var}' less than 5")

In [ ]:
string_var = "test" if len(string_var) > 5 else "test text"
print(string_var)

### Loops

In [ ]:
for i in range(1,5):
  print(i)

In [ ]:
list_var = ["apple", "orange", "banana"]

for val in list_var:
  print(val)

In [ ]:
for val in list_var:
  if val == "orange": break
  print(val)

In [ ]:
for val in list_var:
  if val == "orange": continue
  print(val)

In [ ]:
for index,val in enumerate(list_var):
  print(f"{index+1}. {val}")

In [ ]:
for char in "string":
  print(char)

In [ ]:
for i in range(0,5):
  for j in range(i,5):
    print("*", end="")
  print()

In [ ]:
i=0
while i<len(list_var):
  print(list_var[i])
  i+=1

### Functions

In [ ]:
def custom(x):
  print("the value is " + x)

custom("test text")
help(custom)

In [ ]:
def operate(x,y):
  def add(i,j):
    return i+j
  def sub(a,b):
    return a-b
  return add(x,y), sub(x,y)
# add(5,2)

operate(3,1)

In [ ]:
sum, diff = operate(5,2)
print(f"5+2={sum}")
print(f"5-2={diff}")

In [ ]:
help(print)
help(len)

### Exception handling

In [ ]:
try:
  print("trying division by 0")
  div_by_zero = 10/0
  print("division by zero successful")
except Exception as e:
  print(e)

In [ ]:
try:
  print("trying division by 0")
  div_by_zero = 10/0
  print("division by zero successful")
except ZeroDivisionError as e:
  print(e)

### Packages in python

In [ ]:
import numpy

In [ ]:
dir(numpy)

In [ ]:
help(numpy.tanh)

In [ ]:
import numpy as np

In [ ]:
help(np.tanh)

In [ ]:
from numpy import tanh

In [ ]:
tanh([1,2])